[data-page="_global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #daa520;
}
[data-page="_global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #daa520;
}
[data-page="_global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #9acd32;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


