[data-cellid="grid_footcell_field"][data-page="COSMIC_KEY_print"][data-cellid="grid_footcell_field"][data-page="COSMIC_KEY_print"][data-cellid="grid_footcell_field"][data-page="COSMIC_KEY_print"] {
  white-space: nowrap;
}
[data-page="COSMIC_KEY_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


