[data-cellid="grid_headcell_checkbox"][data-page="sqlView_list"][data-cellid="grid_headcell_checkbox"][data-page="sqlView_list"][data-cellid="grid_headcell_checkbox"][data-page="sqlView_list"] {
  width: 30px;
}
[data-page="sqlView_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


