[data-cellid="grid_footcell_field"][data-page="WORLD_LINE_print"][data-cellid="grid_footcell_field"][data-page="WORLD_LINE_print"][data-cellid="grid_footcell_field"][data-page="WORLD_LINE_print"] {
  white-space: nowrap;
}
[data-page="WORLD_LINE_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


