[data-cellid="grid_headcell_checkbox"][data-page="WORLD_LINE_list"][data-cellid="grid_headcell_checkbox"][data-page="WORLD_LINE_list"][data-cellid="grid_headcell_checkbox"][data-page="WORLD_LINE_list"] {
  width: 30px;
}
[data-page="WORLD_LINE_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


